/* ===== Обнуление стилей ====== */
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
nav,footer,header,aside {display: block;}
html,body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {
	font-size: inherit;
	font-weight: 400;
}
/* ===== Обнуление стилей конец ====== */

body {
	font-family: Tahoma, sans-serif;
}
h1,h2 {
	font-family: 'Oswald', sans-serif;
}
.container {
	width: 1140px;
	margin: 0 auto;
	padding: 10px;
}
p { line-height: 1.5;margin-bottom: 1em;}
h1 {font-size: 24px;}
h2 {font-size: 1.3em;}

.content-all {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
	border-radius: 2rem;
}
.btn-1 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
    color: #cccccc;
    background-color: #ab3434;
	border-color: #8c4a4a;
	position: relative;
	padding: .4em;
	width: 190px;
	transition: all 0.2s linear 0s;
}
.btn-1::before {
	font-family: 'Font Awesome 5 Free';
    font-weight: 900;
	content: "\f30b";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
}
.btn-1:hover {
	color: #fff;
	text-indent: -20px;
}
.btn-1:hover::before {
	opacity: 1;
	text-indent: 0px;
}
.arrow {
	position: absolute;
    right: 0;
	top: 0;
	padding: 0 5px;
	line-height: 37px;
	color: #fff;
	cursor: pointer;
}
.arrow::after {
	content: "\f078";
	display: block;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}
.arrow.active {
	transform: rotate(-180deg);
}
.arrow-botton {}
.sub-arrow-botton.arrow {
	right: 10px;
	transform: rotate(-90deg);
	line-height: 3;
	color: #4b6a98;
}
.sub-arrow-botton.arrow.active {transform: rotate(90deg);}
.arrow-right {
    transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	margin-left: 4px;
}
.table {
	width: 100%;
    max-width: 100%;
	margin-bottom: 1rem;
	line-height: 1.5;
	border-collapse: collapse;
}
.table th {text-align: inherit;}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table td, .table th  {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table-striped tbody tr:nth-of-type(odd) {background-color: rgba(0,0,0,.05);}
.table .thead-dark th {
	color: #fff;
    background-color: #4a4a4a;
    border-color: #3e3e3e;
}

/* ===== header ===== */
.header-top {
	display: flex;
	font-family: Tahoma, sans-serif;
	border-bottom: 1px solid #e2e2e2;
}
.header-bottom {display: flex;}
.header-top__row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.header-top__image-mobile {display: none;}
.header-bottom__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-top__text {
	border: 1px solid #4a4a4a;
	border-radius: 30px;
	padding: 5px;
}
.header-top__text:hover {
	border: 1px solid #4b6a98;
	border-radius: 30px;
	padding: 5px;
}
.header-top__text .fa {
	vertical-align: middle;
	padding: 0 5px 0 0;
}
.header-top__text a {color: #4a4a4a;}
.header-top__text a:hover {color: #4b6a98;}
.header-top-item {display: flex;}
.header-top-link {
	display: block;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
	margin: 0 0 0 10px;
	text-align: center;
}
.header-top-link__lang {
	background: #dadada;
	color: #4b6a98;
}
.header-top-link__login {
	background: #4b6a98;
	color: #fff;
}
.header-top-link__login:hover {
	background: #ae3c3c;
	color: #fff;}
.header-top-link__lang:hover {
	color: #fff;
	background: #4a4a4a;
}
.header-top-link__lang.active {
	background: #4a4a4a;
	color: #aacafb;
}
.header-top-link__lang.active:hover {color: #fff;}
.header-top__logo {max-height: 80px;}
.input-holder {
	display: flex;
	height: 40px;
    background: rgba(0,0,0,0.2);
    border-radius: 30px;
    padding: 5px;
}
.input-holder:focus-within {background: rgba(0,0,0,0.3);}
.input-holder img {height: 15px;}
.search-input {
	color: #4a4a4a;
    border: 0;
    outline: 0;
    background: none;
    line-height: 30px;
	padding: 0 10px;
    width: 250px;
    caret-color: #656565;
    transition: width 0.4s linear;
}
.search-icon {
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #4a4a4a;
	text-decoration: none;
	background: #fff;
}
.search-icon:hover {
	background: #4a4a4a;
	color: #fff;
}
/* ===== header end ===== */

/* ==== main-menu ==== */
.main-menu {
	display: flex;
	background: #4b6a98;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
	line-height: 35px;
	font-family: Tahoma, sans-serif;
	text-transform: uppercase;
}
.main-menu a.parent {margin: 0 25px 0 0;}
.main-menu li{
	position: relative;
	list-style: none;
}
.main-menu__list {display: flex;}
.main-menu__list>li {margin: 0 20px 0 0;}
.main-menu__link {
	color: #fff;
	padding: 0 0 15px 0;
}
.main-menu__list>li .fa {padding: 0 0 0 7px;}
.sub-main-menu__list>li .fa {
	position: absolute;
	right: 10px;
	line-height: 3;
}
.main-menu__list>li:first-child .fa {padding: 0;}
.main-menu__link.active {color: #a5c9ff;}
.sub-main-menu__list {
	min-width: 250px;
	position: absolute;
    left: 0;
	padding: 10px 0 0 0;
	text-transform: none;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
	line-height: 3;
}
body.mouse .sub-main-menu__list {
	opacity: 0;
	visibility: hidden;
	top: 50px;
	margin-top: 5px;
}
body.touch .sub-main-menu__list {display: none;}
.sub-main-menu__link {
	display: block;
	padding: 0 25px;
	color: #4b6a98;
}
.sub-main-menu__list>li,
.sub-sub-main-menu__list>li {
	background: #fff;
}
.sub-main-menu__list>li:hover,
.sub-sub-main-menu__list>li:hover {
	background: #6a92ce;
}
.sub-main-menu__list>li:hover .sub-main-menu__link,
.sub-sub-main-menu__list>li:hover .sub-sub-main-menu__link {
	color: #fff;
}
.sub-sub-main-menu__list {
	min-width: 200px;
	position: absolute;
	top: 0;
	left: 100%;
	text-transform: none;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
}
body.mouse .sub-sub-main-menu__list {
	opacity: 0;
	visibility: hidden;
	top: 10px;
}
body.touch .sub-sub-main-menu__list {display: none;}
.sub-sub-main-menu__link {
	display: block;
	padding: 0 25px;
	color: #4b6a98;
}
body.mouse .main-menu__list>li:hover .sub-main-menu__list {
	opacity: 1;
	visibility: visible;
	transition: .3s;
	top: 30px;
}
body.mouse .sub-main-menu__list>li:hover .sub-sub-main-menu__list {
	opacity: 1;
	visibility: visible;
	transition: .3s;
	top: 0;
}
body.mouse .main-menu__link:hover {border-bottom: 4px solid #fff;}
body.touch .main-menu__link span,
body.touch .sub-main-menu__link span {
	display: none;
}
body.mouse .arrow {display: none;}
body.touch .arrow {display: block;}
body.touch .sub-main-menu__list.open,
body.touch .sub-sub-main-menu__list.open {display: block;}

/* ==== main-menu end ==== */
.right-menu__title {
    padding: 15px;
    background: #4b6a98;
    margin-bottom: 5px;
}
.right-menu__title h2 {color: #fff;}
.right-menu__list {line-height: 2;}
.right-menu__list a {display: block;}
.right-menu__list>li {
    border-left: 5px solid #f3f3f3;
    margin-bottom: 2px;
    border-right: 5px solid #f3f3f3;
    background: #f3f3f3;
}
.right-menu__list>li a {padding: 10px;}
.right-menu__list>li:hover {
	border-right: 5px solid #4b6a98;
	border-left: 5px solid #4b6a98;
	background: #e8e8e8;
}
.right-menu__list>li a:hover {color: #4b6a98;}
.right-menu__link,
.sub-right-menu__link {
	color: #757575;
}
.sub-right-menu__list>li>a {padding-left: 20px;}
/* ==== right-menu end ==== */

/* ==== big-image ==== */
.big-image,
.big-image__row,
.big-image__image {
	display: flex;
}
.big-image {padding-top: 10px;}
.big-image__row {justify-content: space-between;}
.big-image__column {flex: 0 0 50%;}
.big-image__image {
	background: url("../img/image-home_1.jpg") 50%/cover no-repeat;
	min-height: 400px;
	justify-content: flex-end;
	align-items: flex-end;
}
.big-image__box {
	padding: 20px 20px 40px 20px;
    display: block;
    width: 40%;
}
.big-image__title {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	line-height: 120%;
}
.big-image__text {
	padding: 20px 0;
	color: #e4e4e4;
	line-height: 120%;
}
.big-image__bottons {
	font-size: 17px;
	margin-top: 30px;
}
/* ==== big-image end ==== */

/* ==== wraper ==== */
.wraper {
	display: flex;
	padding-top: 15px;
	flex: 1 0 auto;
}
.page {display: flex;}
.page-content {flex: 1 1 auto;}
.page-content p::first-letter {margin-left: 2rem;}
.page-content img {max-width: 100%;}
.page-content img {margin: 5px 5px;}
.page-content img.center-img {
	display: block;
	padding-bottom: 10px;
	margin: 0 auto;
  }
.page-content__title {
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.page-content__title h1 {
	padding-left: 10px;
	font-size: 1.5rem;
	border-left: 5px solid #4b6a98;
	color: #4a4a4a;
}
.contact-card {margin: 0 0 10px 0;}
.contact-card__title {
	text-transform: uppercase;
	padding: 10px;
    background: #4a4a4a;
    color: #d6d6d6;
}
.contact-card__person {
	display: flex;
	flex-wrap: wrap;
	line-height: 1.3;
	padding: 10px;
}
.contact-card__logo {flex: 0 0 50%;}
.contact-card__data {margin: 0 0 0 10px;}
.contact-card .contact-card__person:nth-child(2n) {
	background-color: rgba(0,0,0,.05);
}

/* page-right */
.page-right {
	flex: 0 0 290px;
	margin-left: 30px;
}
.page-content__title h2 {
	padding-left: 10px;
	font-size: 1.5rem;
	border-left: 5px solid #ab3434;
	color: #4a4a4a;
}
.page-right__link {padding-top: 3px;}
.page-right__link a {color: #000;}
.page-right__link a:hover {color: #ab3434;}
.page-right__date {
	color: #a0a0a0;
	font-size: 12px;
	display: block;
}
.page-right__list a {
    display: block;
	padding: 10px;
	margin-bottom: 2px;
    color: #000;
	background: #f1f1f1;
	border-left: 5px solid #dadada;
}
.page-right__list a:hover {
	border-left: 5px solid #ab3434;
	color: #ab3434;
}
.page-right__link {line-height: 17px;}

/* ==== breadcrumb ==== */
.breadcrumb {
	display: flex;
    margin: 20px 0 0 0;
}
.breadcrumb__list {
	display: flex;
	flex-wrap: wrap;
	line-height: 20px;
	background:#f3f3f3;
	padding: 10px;
	border-radius: 10px;
}
.breadcrumb__list li a {color: #4a4a4a;}
.breadcrumb__list li a:hover {color: #ab3434;}
.breadcrumb__list li:after {
    content: "/";
	color: #4a4a4a;
	display: inline-block;
	margin: 0 7px 0 3px;
	font-weight: 700;
}
.breadcrumb__list li:last-child:after {
    content: "";
    display: inline-block;
    margin: 0;
}
.breadcrumb__link {font-size: 12px;}
/* ==== breadcrumb end ==== */

/* ==== banners ==== */
.banners {display: flex;}
.banners_container {
	/* display: flex; */
	padding: 20px 0 20px 0;
	width: 900px;
	margin: 0 auto;
}
.banners-title {
	padding: 30px 0 0 0;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;

}
/* .banners-title {
	overflow: hidden;
} */
.banners-title:before,.banners-title:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	height: 1px;
	background: #cccccc;;
	border: solid #FFF;
	border-width: 0 10px;
}
.banners-title:before {margin-left: -100%;}
.banners-title:after {margin-right: -100%;}
.banners__row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.banner__column {
	margin: 5px;
	flex: 0 1 calc(20% - 30px);
}
.banner__item {
	display: flex;
	position: relative;
	z-index: -2;
	height: 100%;
	flex-direction: column;
	border-radius: 10px;
	transition: all 300ms ease;
	-webkit-transition: 300ms ease-in-out;
	
}
.banner-item__image {
	display: block;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    padding: 10px;
    background: #cccccc;
}
.banner-item__image img{
	display: block;
    object-fit: cover;
	width: 120px;
}
.banner__text {
	flex: 1 1 auto;
	font-size: 12px;
	color: #ececec;
	padding: 20px 20px;
	text-align: center;
	text-transform: uppercase;
	background: #4b6a98;
	line-height: 1.5;
	border-radius: 0 0 10px 10px;
}
.banner-link:hover .banner__item {
	transition: all 300ms ease;
	transform: translateY(10px);
}
.banner-link .banner__item {
	transition:  transform 500ms;
	/* transition: background 0.7s ease; */
}
/* ==== banners end ==== */

/* ==== footer ==== */
.footer {
    display: flex;
    flex: 0 0 auto;
    margin: 20px 0 0 0;
	border-top: 1px solid #e2e2e2;
}
.footer__date {
	color: #4a4a4a;
	text-align: center;
	padding: 5px 0;
}
.footer__date p {margin: 0;}
/* ==== footer end ==== */


/* ==== @media ==== */
@media screen and (max-width: 1024px) {
	.big-image__title {font-size: 18px;}
	.banners__row {padding: 0 10px;}
}

@media screen and (max-width: 768px) {
	body.lock {overflow: hidden;}
	.arrow {line-height: 3;}
	.header-top {
		position: fixed;
		background-color: #4b6a98;
		border-bottom: hidden;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 10;
	}
	.header-top__row {justify-content: space-between;}
	.header-top__text {display: none;}
	.header-top-link {margin: 0 10px 0 0;}
	.header-top-link__login {
		background: #dadada;
		color: #4a4a4a;
	}
	.header-top__logo {height: 60px;}
	.header-bottom {
		padding-top: 50px;
		border-bottom: 1px solid #cccccc;
	}
	.search-input {width: 150px;}
	.main-menu {
		display: none;
		font-size: 14px;
		line-height: 3;
		overflow: auto;
		padding: 50px 0 0 0;
		background: #545454;
	}
	.main-menu .container, .sub-main-menu__list {
		padding: 0;
	}
	.main-menu a.parent {margin: 0;}
	.main-menu.open {
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
	}
	.main-menu__burger {
		display: block;
		position: relative; 
		width: 30px;
		height: 20px;
		margin: 5px;
		cursor: pointer;
	}
	.main-menu__burger span {
		position: absolute;
		background-color: #fff;
		width: 100%;
		left: 0;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.main-menu__burger::before,
	.main-menu__burger::after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.main-menu__burger::before {top: 0;}
	.main-menu__burger::after {bottom: 0;}
	.main-menu__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}
	.main-menu__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.main-menu__burger.active span {transform: scale(0);}
	.sub-arrow-botton.arrow {
		color: #fff;
		right: 0;
		transform: rotate(0deg);
	}
	.sub-arrow-botton.arrow.active {transform: rotate(180deg);}
	.sub-main-menu__list,
	.sub-sub-main-menu__list {box-shadow: none;}
	.main-menu__list {
		display: block;
		margin-top: 15px;
		transition: all 0.3s ease 0s;
	}
	/* .main-menu__list.active {display: block;} */
	.main-menu__list>li, .sub-main-menu__list>li {
		margin: 0;
		border-bottom: 1px solid #5f5f5f;
	}
	.sub-main-menu__list {background: #404040;}
	.sub-sub-main-menu__list {background: #383838;}
	.main-menu__list>li:last-child,
	.sub-main-menu__list>li:last-child {
		border-bottom: none;
	}
	.sub-main-menu__list>li,
	.sub-sub-main-menu__list>li {
		background: none;
	}
	.main-menu__link {padding: 0 0 0 15px;}
	.main-menu__link,
	.sub-main-menu__link {
		display: block;
    	width: calc(100% - 50px);
	}
	.sub-main-menu__link  {padding: 0 10px 0 25px;}
	.arrow-botton, .sub-arrow-botton {
		width: 50px;
		text-align: center;
	}
	.sub-main-menu__list,
	.sub-sub-main-menu__list {
		position: relative;
		display: none;
		left: 0;
		top: 0;
	}
	.sub-main-menu__list.open,
	.sub-sub-main-menu__list.open {display: block;}
	.sub-main-menu__link {color: #fff;}
	.sub-sub-main-menu__link {color: #dadada;}
	.sub-main-menu__list>li:hover, .sub-sub-main-menu__list>li:hover {background: none;}
	.banners__row {margin: 0;}
	.banner-item__image img {width: 100px;}
	.banner-item__image{}
	.page-right {display: none;}
	.page-content {margin: 0;}

	.big-table {
		overflow: auto;
		position: relative;
	}
	.big-table table {
		display: block;
		width: calc(100vw - 20px);
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

@media screen and (max-width: 620px) {
	.container {
		max-width: none;
	}
	.header-top__image-pc {display: none;}
	.header-top__image-mobile {display: block;}
	.big-image__box {display: none;}
	.big-image__image {min-height: auto; height: 300px;}
	.contact-card__logo {flex: 0 0 100%;}
}

@media screen and (max-width: 425px) {
	table {font-size: 12px;}
	.big-image__image {height: 300px;}
}
